html, body {
        height:100%;
}
body {
        background:#262C32;
             color:#ffffff;
        font-family:'open sans', sans-serif;   display:grid;
         
}


h1{
	     font-family:'montserrat',sans-serif;
		
}


h4 {
	font-family:'open sans', sans-serif;
}

h1 {
        font-size:30px;
	
}
h2 {
        font-size:24px;
}
h3 {
        font-size:20px;
}
h4 {
        font-size:18px;
}
p {
       
        margin:0;
        padding:0;
     
        
}




.bgutama {
	width:100%;
	margin-top:-10vw;
}
@media (max-width: 800px) {
	.bgutama {
		
	
		margin-top:40px;
		margin:0 auto;
	}
}
		
		






@media only screen and (max-width: 500px){
        .welcome {
                margin-top:35vh;
        }
}


.intro {
	display:block;margin:0 auto;z-index:2;position:relative;
	text-align:center;width:100%;padding:100px 4% 50px 4%;margin-top:0;background:#ffffff;
}
.intro b {
	font-family:'montserrat',sans-serif;
	font-size:30px;
	color:#333333;
	display:block;
	margin-bottom:10px;
}
.intro span {
	font-family:'montserrat',serif;
	font-size:14px;
	color:#333333;
	display:block;
	width:70%;
	margin:0 auto;
}



@media (max-width: 800px)  {
	.intro {
		width:100%!important;margin:0 auto;margin-top:0;padding:50px 4%;
	}
	.intro b {
	
	font-size:20px;
	}
	
	.intro span {
	width:100%;
	margin:0 auto;
	font-size:14px;
	
	
	}
}







.portfoliotitle {
	display:block;padding:0;margin:0 auto;z-index:2;position:relative;
}

.portfoliotitle h1, .plantitle h1, .printingtitle h1 {
	font-family:'montserrat',sans-serif;
	font-size:30px;

	display:block;
	margin-bottom:10px;
	font-weight:600;
}
.portfoliotitle span, .plantitle span, .printingtitle span {
	font-family:'montserrat',serif;
	font-size:14px;
	
	display:block;
	width:70%;
	margin:0 auto;
}



@media (max-width: 800px)  {
	
	.portfoliotitle h1, .plantitle h1, .printingtitle h1 {
	
	font-size:20px;
	}
	
.portfoliotitle span, .plantitle span, .printingtitle span {
	width:100%;
	margin:0 auto;
	font-size:14px;
	
	
	}
}







.layanan {
        display:grid;
        grid-template-columns:repeat(3,auto);
        padding:0;
           background:#ffcd2e;
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:center;
       color:#1D2127;
        justify-content:space-evenly;
}
.layanan .bokslayanan {
        padding:3em;
    	width:300px;

}
@media (max-width: 800px)  {
	.layanan .bokslayanan {margin:0 auto;text-align:center;}
}
.layanan .bokslayanan b {
	font-family:'montserrat',sans-serif;
	font-size:18px!important;
	
}
.layanan .bokslayanan p {
	font-family:'montserrat',sans-serif;
	font-size:14px;
	margin-top:5px;
}
@media (max-width: 800px)  {
	.layanan .bokslayanan p {font-size:14px!important;margin-top:5px;}
}

@media (max-width: 800px)  {
	.layanan .bokslayanan b {font-size:18px!important;}
}
.layanan img {
        margin-bottom:1.3em;
    max-width:70px;
       
}

.plantitle {
	display:block;padding:0;margin:0 auto;z-index:2;position:relative;text-align:center;padding:100px 4% 50px 4%;

}



.plan {
        display:grid;
        grid-template-columns:repeat(3,auto);
        padding:0;
          
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:center;
   
        justify-content:space-evenly;
}
.plan .boksplan {
        padding:3em;
    	width:300px;

}
@media (max-width: 800px)  {
	.plan .boksplan {margin:0 auto;text-align:center;}
}
.plan .boksplan p {
	font-weight:300;font-size:14px;font-family:'open sans',sans-serif;
}
.plan .boksplan p span {
	display:block;border-bottom:1px solid #4c5458;padding:15px 0;margin:0;
}


.plan .boksplan h3 {
        color:#ffffff;
	font-family:'open sans',sans-serif!important;
	font-size:20px;
	
}
.plan img {
        margin-bottom:1em;
    max-width:100px;
       
}

.plan a {
	display:inline-block;
	padding:10px 30px;
	background:#ffcd2e;
	color:#262C32;
	font-weight:700;
	text-decoration:none;
	margin-top:20px;
	  font-family: 'open sans', serif !important;
	font-size:14px;
	border:0px solid #ffcd2e;
}
.plan a:hover {
	background:#ffffff;
	color:#262C32;
	transition: 0.8s;
}




.printingtitle {
	display:block;margin:0 auto;z-index:2;position:relative;text-align:center;padding:50px 4%;background:#ffcd2e;

}
.printingtitle h1, .printingtitle span {
	color:#1d2127;
}

.printing {
        display:grid;
        grid-template-columns:repeat(3,auto);
       
         
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:center;
      
       justify-content:space-around;
	
	padding:40px 0!important;
}
@media (max-width: 800px) {
	.printing {  grid-template-columns:repeat(1,auto);}
}

.printing .boksprinting {
       
	   padding:3em;
    	width:300px;
	
        
}

@media (max-width: 800px)  {
	.printing .boksprinting {margin:0 auto;text-align:center;}
}

.printing .boksprinting h3.judul {
	font-weight:bold;
	  font-family:'open sans', sans-serif!important;
	font-size:18px;
}
.printing .boksprinting h4.harga {
        color:#ffffff;
	font-size:15px!important;
	  font-family:'open sans', sans-serif!important;
}

@media (max-width: 800px) {
	.printing .boksprinting h3.judul {font-size:16px;}
	.printing .boksprinting h3.harga {font-size:14px;}
}

.printing img {
        margin-bottom:1em;
    max-width:100px;
       
}

.printing a.planorder {
	display:inline-block;
	padding:10px 30px;
	background:#333333;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	margin-top:20px;
	  font-family: 'roboto slab', serif !important;
}
.printing a.planorder:hover {
	background:#ffcd2e;
	color:#333333;
	transition: 0.8s;
}

.printing p {
	display:block;
}
.printing span {
	font-family:'open sans',sans-serif;
	font-weight:300;
	display:block;
	border-top:2px solid #ffcd2e;
	padding:10px 0;
	margin:0;
	font-size:12px!important;
}

.boksprinting h3 {
	font-family:'montserrat',sans-serif;
	font-weight:600;
}




.portfolio {
        display:grid;
        grid-template-rows:auto;
    margin:0 auto;
        padding:70px 0;
     background:#1D2127;
      width:100%;
     
        z-index:2;
        position:relative;
        text-align:center;
        justify-content:space-evenly;
}


	

.portfolio a.portfoliomore {
	display:inline-block;
	padding:10px 30px;
	font-size:14px;
	color:#ffffff;
	font-weight:700;
	text-decoration:none!important;
	margin-top:20px;
	  font-family: 'open sans', serif !important;
	border:2px solid #ffffff;
}
.portfolio a.portfoliomore:hover {
	background:#ffffff;
	color:#1d2127;
	transition: 0.8s;
}









@media (max-width: 800px) {
        .top, .portfolio, .wwd, .layanan, .plan, .printing, .pi, .order, .oc, .ci, .ac, .bot1 {
           grid-template-columns:100% !important; 
            grid-template-rows:auto;   
		
        }

}












.bottom {
	display:grid;
	grid-template-columns:100%;
            background:#3c4147;
         padding:20px 0;
        
          position:relative;
            z-index:2;
       
        
               
}
.bottom h1, .bottom h2, .bottom h3, .bottom h4, .bottom a, .bottom a:hover, .bottom {
        color:#808286;font-family:'montserrat',sans-serif;
}
.bottom h4 {
	font-size:16px;font-weight:bold;
}
.bottom a, .bottom a:hover {
        
        text-decoration:none;}


.bot1 {
	display:grid;
	grid-template-columns:20% 20% 20% 40%;
	padding:0 4%;
}



 .bb3 img {
        vertical-align:sub;
        width:32px !important;
}
.bb1, .bb2, .bb3  {
	max-width:200px;
        width:200px;
}

.bot1 p {
	font-family:'open sans',sans-serif;font-size:14px;
}

.bb2 a:hover {
	text-decoration:underline;
}





.fblike {
        position:relative;
        z-index:2;
        padding:50px 4%;
        background:rgba(255,255,255,1);
}
.kaki {
        
	padding: 0 4%;
	
	position: relative !important;
	color: #808286;
}
figcaption {
        text-align:center;
}        
figcaption h3 {
        position:absolute !important;
        text-transform:uppercase !important;
        bottom:25% !important;
}


.ket, .ket2 {
	display:grid;
        grid-template-columns:repeat(1,auto);
        padding:0 4% 50px 4%;
	font-family:'open sans', sans-serif!important;
font-size:12px;
 font-weight:300;
           background:#ffffff;
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:left;
       color:#ffffff;
        justify-content:flex-start;
}

.ket .boks, .ket2 .boks {
	display:grid;
        grid-template-columns:repeat(2, 70% 30%);
	  text-align:left;
	  width:100%;
	justify-content:flex-start;
	}

@media (max-width: 800px) {
	.ket .boks, .ket2 .boks {
		grid-template-columns:repeat(1,auto);
	}
}




	/* slideshow styles */
.galeri {
    display:grid;
    grid-template-columns:repeat(3,auto);
    justify-content:center;
    grid-gap:3em;
  
}

@media (max-width: 800px)  {
  .galeri {grid-template-columns:repeat(1,auto);
             grid-gap:0em;
  }
  .slideshow li {padding:0;margin-top:-1.5em;}
  
}

	.slideshow {  
       width: 250px;  
       height: 250px;  
       margin: 3em auto;
       overflow: hidden;
    
    }  
    .slideshow ul {  
       width: 200%;  
       height: 200px;
       padding:0; margin:0;
       list-style:none;
    }  
    .slideshow li { float: left;padding:0;margin:0; background:red;}









.masthead {
  overflow: hidden;

  padding: 1em;
 


  &.responsive-image {
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

.masthead .entry-header {
 margin: 7em 0;
  font-weight: 300;
  line-height: 1.5;
  overflow: auto;

  @media screen and (min-width: 640px) {
     margin: 7em 0;
  }
}


.masthead .entry-title {
   font-family: 'montserrat',sans-serif;
  font-size: 2.5;
  line-height: 1.5;
  font-weight: 600;
  margin: 0 0 0.25em 0;
  padding:0 4%;
  @media screen and (min-width: 640px) {
    max-width: 650px;
    font-size: 4em;
  }
}


.masthead .entry-subtitle {
  font-family: 'montserrat',sans-serif;
font-weight:300;
  line-height: 1.25;
 padding:0 4%;
margin:0 0 0.35em 0;
  font-size: 1.5em;
}


