html, body {
        height:100%;
}
body {
        background:#ffffff;
      color:#333333;
      font-family:'montserrat', sans-serif!important;
}

p {color:#333333;}

ul li { font-size:14px;}

h1,h2,h3,h4 {     font-family:'montserrat', sans-serif!important;}

h1{
	 font-size:30px!important;font-weight:500!important;
			
}




h2 {
        font-size:16px!important;font-weight:bold!important;
}
h3 {
        font-size:18px;padding:0;
}
h4 {
         font-size:16px;padding:0;
}


.introimg {
	width:30%;max-width:100px;margin:0 auto;display:block;
}
@media (max-width: 800px) {
	.introimg {width:30%;}
}





.layanan {
        display:grid;
        grid-template-columns:repeat(3,auto);
	grid-gap:4em;
        padding:0;
          
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:center;
    
        justify-content:center;

}
.layanan .bokslayanan {
     
    	width:250px;

}
@media (max-width: 800px)  {
	.layanan { 
        grid-template-columns:repeat(1,auto);}
	.layanan .bokslayanan {margin:0 auto;text-align:center;}
}

.layanan .bokslayanan span {
	font-size:14px;
	margin-top:5px;

}


.layanan img {
        margin-bottom:1.3em;
    max-width:70px;
       
}





.plan {
       
     
      margin:0 auto;
        z-index:2;
        position:relative;

   background:#ffcd2e;
 
}
.plan .plangrid {
        display:grid;
        grid-template-columns:repeat(3,auto);
        padding:0;
          grid-gap:4em;
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:center;
   background:#ffcd2e;
        justify-content:center;
}

.plan .plangrid .boksplan {
       
      position:relative;
	top:-400px
}
.plan .plangrid .boksplan .boksplandalam {
	padding:6em 2em 1.5em 2em;border:0px solid #e6e6e6;width:250px;border-radius:10px;background:#ffffff;
}

@media (max-width: 800px)  {
	.plan .plangrid {grid-template-columns:repeat(1,auto);grid-gap:0em;}
	.plan .plangrid .boksplan {margin:0 auto;text-align:center;}
}
.plan .plangrid .boksplan p {
	font-weight:300;
}
.plan .plangrid .boksplan p span {
	display:block;border-bottom:1px solid #f0f0f0;padding:15px 0;margin:0;
}


.plan .plangrid img {
        margin-bottom:1em;
    max-width:100px;
       
}

.plan .plangrid .boksplan .boksplandalam a.tombolorder {
	display:inline-block;
	padding:10px 30px;
	
	color:#333333;
	font-weight:700;
	text-decoration:none;
	margin-top:20px;
	 font-family:'montserrat', sans-serif!important;font-weight:bold!important;
	border:2px solid #ffcd2e;
	border-radius:3px;
}
.plan .plangrid .boksplan .boksplandalam a.tombolorder:hover {
	background:#ffcd2e;
	color:#ffffff;
	transition: 0.8s;
}






.printing {
      
       background:#ffcd2e;
         
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        
}

.printinggrid {
        display:grid;
        grid-template-columns:repeat(3,auto);
       background:#ffcd2e;
         
      width:100%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:center;
      grid-gap:4em;
       justify-content:center;
	
	padding:40px 0!important;
}

@media (max-width: 800px) {
	.printing .printinggrid {  grid-template-columns:repeat(1,auto);}
}

.printing .printinggrid .boksprinting {
       
	
    	width:250px;
	
        
}

@media (max-width: 800px)  {
	.printing .printinggrid .boksprinting {margin:0 auto;text-align:center;}
}








.printing p {
	display:block;
}
.printing span {
	font-size:12px;
	display:block;
	border-top:1px dotted #333333;
	padding:10px 0;
	margin:0;

}

.printinggrid .boksprinting h3 {

	font-weight:600;
}





.portfolio {
        display:grid;
        grid-template-rows:auto;
    margin:0 auto;
        padding:70px 0;
   background:#f4f4f4;
      width:100%;
     
        z-index:2;
        position:relative;
        text-align:center;
        justify-content:space-evenly;
}


	

.portfolio a.portfoliomore {
	display:inline-block;
	padding:10px 30px;
	color:#333333;
	font-weight:700;
	text-decoration:none!important;
	 font-family:'montserrat', sans-serif!important;font-weight:bold!important;
	margin-top:20px;
	border:2px solid #333333;
	border-radius:3px;
}
.portfolio a.portfoliomore:hover {
	background:#333333;
	color:#f4f4f4;
	transition: 0.8s;
}









@media (max-width: 800px) {
        .top, .portfolio, .wwd, .layanan, .plan, .printing, .pi, .order, .oc, .ci, .ac, .bot1 {
           grid-template-columns:100% !important; 
            grid-template-rows:auto;   
		
        }

}












.bottom {
	display:grid;
	grid-template-columns:100%;
            background:#f4f4f4;
         padding:20px 0;
        
          position:relative;
            z-index:2;
       
        
               
}
.bottom h1, .bottom h2, .bottom h3, .bottom h4, .bottom a, .bottom a:hover, .bottom {
        color:#999999;
}
.bottom h4 {
	font-weight:bold;
}
.bottom a, .bottom a:hover {
        
        text-decoration:none;}


.bot1 {
	display:grid;
	grid-template-columns:repeat(1,auto);
	padding:0 4%;
	justify-content:center;
}



 .bb3 img {
        vertical-align:sub;
        width:32px !important;
}
.bb1 {
	max-width:100%;
       
	text-align:center;
}



.bb2 a:hover {
	text-decoration:underline;
}





.fblike {
        position:relative;
        z-index:2;
        padding:50px 4%;
        background:rgba(255,255,255,1);
}
.kaki {
        
	padding: 0 4%;
	
	position: relative !important;
	color: #999999;
}
figcaption {
        text-align:center;
}        
figcaption h3 {
        position:absolute !important;
        text-transform:uppercase !important;
        bottom:25% !important;
}


.ket, .ket2 {
	display:grid;
        grid-template-columns:repeat(1,auto);
        padding:0;
	font-weight:300;
         
      width:70%;
      margin:0 auto;
        z-index:2;
        position:relative;
        text-align:left;
       color:#333333;
        justify-content:flex-start;
}
@media (max-width: 800px) {
	.ket, .ket2 {width:92%;}
}

.ket .boks, .ket2 .boks2 {
	display:grid;
        grid-template-columns:repeat(1,auto);
	  text-align:left;
	  width:100%;
	justify-content:center;
	}





	/* slideshow styles */
.galeri {
    display:grid;
    grid-template-columns:repeat(3,auto);
    justify-content:center;
    grid-gap:4em;
  
}

@media (max-width: 800px)  {
  .galeri {grid-template-columns:repeat(1,auto);
             grid-gap:0em;
  }
  .slideshow li {padding:0;margin-top:-1.5em;}
  
}

	.slideshow {  
       width: 250px;  
      
       margin: 3em auto;
       overflow: hidden;
    
    }  
    .slideshow ul {  
       width: 200%;  
     
       padding:0; margin:0;
       list-style:none;
    }  
    .slideshow li { float: left;padding:0;margin:0; background:red;}









.masthead {
  overflow: hidden;

  padding: 1em;
 


  &.responsive-image {
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

.masthead .entry-header {
 margin: 9em 0;
  font-weight: 300;
  line-height: 1.5;
  overflow: auto;

  @media screen and (min-width: 640px) {
     margin: 7em 0;
  }
}


.masthead .entry-title {
   font-family: 'montserrat',sans-serif;
    line-height: 1.5;
  font-weight: 600;
  margin: 0 0 0.25em 0;
  padding:0 4%;
	color:#333333;
  @media screen and (min-width: 640px) {
    max-width: 650px;
    font-size: 4em;
  }
}


.masthead .entry-subtitle {
  font-family: 'montserrat',sans-serif;
font-weight:300;
  line-height: 1.25;
 padding:0 4%;
margin:0 0 0.35em 0;
  font-size: 1.5em;
	color:#333333;
}





.ketentuan {
	display:grid;
	grid-template-columns:repeat(1,auto);
	width:100%;
}

.ketentuan .boksketentuan {
		width:70%;
	
	margin:0 auto;

}
@media (max-width:800px) {
	.ketentuan .boksketentuan {width:92%;}
}









* {
 
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  /*background: linear-gradient(to left, #f46b45, #eea849);
   W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
	position:fixed;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  background:#ffffff;
  text-align:center;
}
.menu > li a {
  color:#333333;
  text-decoration:none;
  display:block;
  width:100%;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 800px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
	.menu > li {
		padding:20px 0;	
	}
  #menu-toggle {
   color:red;
  }
  .menu-button-container .menu-button, .menu-button-container .menu-button:before, .menu-button-container .menu-button:after {
    background-color:#333333;
  }
  #menu-toggle ~ .menu li a {
  color:transparent;
  }
  #menu-toggle:checked ~ .menu li a {
      color:#333333;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border-bottom: 1px solid #e4e4e4;
    height: 2.5em;
    padding: 20px 0 15px 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;

  }
  .menu > li:not(:last-child) {
    border-bottom: 0px solid #444;
  }
}
